.card_container {
  margin: 20px;
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.img_container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.img_container .img {
  width: 100%;
  height: auto;
  display: block;
}

.product_descriptions {
  width: 200px;
}
